body {
    font-family: 'Roboto', sans-serif;
    background: #00c9ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00c9ff, #92fe9d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00c9ff, #92fe9d); 
}

h1 {
    background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

span {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}





li {
    background: white;
    height: 40px;
    line-height: 40px;
    color: #666;
}

.fa-plus {
    float: right;
}


li:hover span {
    width: 40px;
    opacity: 1.0;
}

input {
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color:  #2980b9;
    border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
    background: white;
    border: 3px solid  #2980b9;
    outline: none;
}

li:nth-child(2n){
    background: #f7f7f7;
}

#container {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
    width: 360px;
    background: #f7f7f7;
    
}

.completed {
    color: gray;
    text-decoration: line-through;
}
